.venv/ 
venv/
remove_dissertacao/
Backup_Output_SemcompatibilizacaoMARES_NOva/
DadosGravimetricos_Unidos.xlsx
Pontos_Gravidade_PPTE
.gitignore

# Bytecode / cache
__pycache__/
*.pyc
*.pyo

# Sistema / editor
.DS_Store
Thumbs.db
.vscode/

# Notebooks e checkpoints
.ipynb_checkpoints/

# Logs temporários
*.log

# Dados / saídas grandes (ajuste conforme sua pasta/nomes)
*.tif
*.tiff
*.las
*.laz
*.zip
*.rar

# Credenciais/.env
.env
*.pem